.article {
  max-width: 570px;
  display: flex;
  margin-bottom: 30px;
}

.article__wrapper {
  background-color: $light;
  padding: 59px 0;
  padding-top: 67px;
  width: 285px;
}

.blog__article-small {
  &:last-child picture {
    order: 1;
  }
}

.blog__article-large {
  margin-left: 30px;
  position: relative;
}

.blog__article-large .article__wrapper {
  position: absolute;
  top: 330px;
  right: 0;
  min-height: 300px;
}

.article__wrapper p {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: $grey;
  margin: 0;
  margin-bottom: 13px;
}

.article__wrapper h3 {
  font-weight: 600;
  color: $black;
  font-family: $cormorant;
  font-size: 26px;
  line-height: 34px;
  margin: 0 auto;
  margin-bottom: 37px;
  max-width: 163px;
  text-align: center;
}

.article__link {
  font-weight: 500;
  text-align: center;
  font-size: 16px;
  line-height: 21px;
  display: block;
  position: relative;

  &:hover,
  &:focus {
    color: $brown;
  }

  &:active {
    color: $grey;
  }

  &::after {
    position: absolute;
    content: "";
    height: 1px;
    width: 97px;
    background-color: $brown;
    bottom: -5px;
    left: 50%;
    transform: translate(-50%);
  }
}

@media (max-width: $tablet-width) {
  .article {
    max-width: 678px;
    display: flex;
    margin-bottom: 50px;
  }

  .blog__article-large {
    margin-left: 0;
    margin-bottom: 0;
  }

  .article img {
    width: 339px;
    height: 300px;
    object-fit: cover;
  }

  .article__wrapper {
    width: 339px;
  }

  .blog__article-large .article__wrapper {
    position: relative;
    width: 339px;
    padding: 85px 0;
    top: 0;
  }
}

@media (max-width: $mobile-width-only) {
  .article {
    flex-direction: column;
    align-items: center;
    width: 290px;
    margin-bottom: 40px;
  }

  .blog__article-small {
    &:last-child picture {
      order: 0;
    }
  }

  .article__wrapper {
    padding: 55px 0;
    padding-top: 45px;
    width: 290px;
  }

  .blog__article-small img,
  .blog__article-large img {
    height: 256px;
  }

  .blog__article-large {
    margin-bottom: 0;
  }

  .blog__article-large .article__wrapper {
    min-height: auto;
    width: 290px;
    padding-top: 60px;
    padding-bottom: 72px;
  }
}
