.blog {
  padding-bottom: 90px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.blog h2 {
  margin: 0;
  margin-bottom: 9px;
  font-family: $cormorant;
  font-weight: bold;
  font-size: 34px;
  line-height: 44px;
  text-align: center;
  letter-spacing: 0.03em;
  flex-grow: 1;
  flex-basis: 100%;
}

.blog__link {
  display: block;
  margin-bottom: 65px;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  flex-grow: 1;
  flex-basis: 100%;
  position: relative;

  &:hover,
  &:focus {
    color: $brown;
  }

  &:active {
    color: $grey;
  }

  &::after {
    position: absolute;
    content: "";
    height: 1px;
    width: 64px;
    background-color: $brown;
    bottom: -5px;
    left: 50%;
    transform: translate(-50%);
  }
}

@media (max-width: $tablet-width) {
  .blog {
    padding-bottom: 70px;
    flex-direction: column;
    align-items: center;
  }

  .blog h2 {
    margin-bottom: 20px;
  }
}

@media (max-width: $mobile-width-only) {
  .blog {
    padding-bottom: 59px;
    flex-direction: column;
    align-items: center;
  }

  .blog__link {
    margin-bottom: 55px;
  }
}
