.blog {
  padding-bottom: 90px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.blog h2 {
  margin: 0;
  margin-bottom: 9px;
  font-family: $cormorant;
  font-weight: bold;
  font-size: 34px;
  line-height: 44px;
  text-align: center;
  letter-spacing: 0.03em;
  flex-grow: 1;
  flex-basis: 100%;
}

.blog__link {
  align-self: center;
  margin-bottom: 65px;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  position: relative;
  max-width: max-content;

  &:hover,
  &:focus {
    color: $brown;
  }

  &:active {
    color: $grey;
  }

  &::after {
    position: absolute;
    content: "";
    height: 1px;
    width: 100%;
    background-color: $brown;
    bottom: -5px;
    left: 50%;
    transform: translate(-50%);
  }
}

.blog__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.blog__article-small {
  &:last-child .blog__pic-wrap {
    order: 1;
  }
}

.blog__article-large {
  margin-left: 30px;
  position: relative;
}

.blog__article-large .article__wrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  min-height: 300px;
}

@media (max-width: $tablet-width) {
  .blog {
    padding-bottom: 70px;
    flex-direction: column;
    align-items: center;
  }

  .blog__container {
    flex-direction: column;
  }

  .blog h2 {
    margin-bottom: 20px;
  }

  .blog__article-large {
    margin-left: 0;
    margin-bottom: 0;
  }


  .blog__article-large .article__wrapper {
    position: relative;
    width: 339px;
    padding: 85px 0;
  }
}

@media (max-width: $mobile-width-only) {
  .blog {
    padding-bottom: 59px;
    flex-direction: column;
    align-items: center;
  }

  .blog__link {
    margin-bottom: 55px;
  }

  .blog__article-small img,
  .blog__article-large img {
    height: 256px;
  }

  .blog__article-small {
    &:last-child .blog__pic-wrap {
      order: 0;
    }
  }

  .blog__article-large {
    margin-bottom: 0;
  }

  .blog__article-large .article__wrapper {
    min-height: auto;
    width: 290px;
    padding-top: 60px;
    padding-bottom: 72px;
  }
}
