.catalog-page .container {
  display: grid;
  grid-template-columns: 250px 870px;
  gap: 50px;
  padding-top: 80px;
  max-width: 1170px;
}

.catalog-page .top-wrapper {
  background: $brown url("../img/bg-catalog@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background: $brown url("../img/bg-catalog@2x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.catalog-page .top-wrapper__overlay {
  padding-top: 92px;
  padding-bottom: 95px;
}

.catalog-page {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    height: 1px;
    width: 100%;
    bottom: 132px;
    background-color: $lightest;
    left: 0;
  }
}

@media (max-width: 1240px) {
  .catalog-page .container {
    width: 900px;
    grid-template-columns: 250px 570px;
  }
}

@media (max-width: $tablet-width) {
  .catalog-page .container {
    max-width: 678px;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    gap: 40px;
  }

  .catalog-page .top-wrapper p {
    margin-right: 0;
  }

  .catalog-page .top-wrapper__overlay {
    padding: 91px 0;
    padding-bottom: 94px;
  }
}

@media (max-width: $mobile-width-only) {
  .catalog-page .container {
    width: 90%;
    padding-top: 40px;
  }

  .catalog-page .top-wrapper__overlay {
    padding: 78px 0;
    padding-bottom: 80px;
  }

  .catalog-page {
    &::after {
      display: none;
    }
  }
}
