.catalog__list {
  margin: 0;
  margin-bottom: 68px;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 270px 270px 270px;
  gap: 30px;
}

.catalog__item img {
  margin: 0;
  width: 270px;
  height: 272px;
}

.catalog__item h3 {
  margin: 0;
  margin-top: 22px;
  margin-left: 8px;
  margin-bottom: 6px;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
}

.catalog__item {
  text-align: center;
  margin-bottom: 5px;

  &:nth-child(n+3) h3 {
    margin-left: 2px;
  }
}

.catalog__item p {
  margin: 0;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
}

.catalog__nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 75px;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: $darkest;
}

.catalog__pagination {
  list-style: none;
  margin: 0;
  margin-right: 31px;
  padding: 0;
  display: flex;
}

.catalog__page {
  color: $grey;
}

.catalog__link,
.catalog__page {
  &:hover,
  &:focus {
    color: $brown;
  }

  &:active {
    color: $grey;
  }
}

.catalog__page--active {
  color: $darkest;
}

.catalog__pagination li {
  margin-right: 14px;

  &:last-child {
    margin-right: 0;
  }
}

.catalog__item .slick-prev {
  top: -109px;
  left: 10px;
}

@media (max-width: 1240px) {
  .catalog__list {
    grid-template-columns: 270px 270px;
    margin-bottom: 66px;
  }
}

@media (max-width: $tablet-width) {
  .catalog__list {
    margin-top: 10px;
    grid-template-columns: 206px 206px 206px;
    margin-bottom: 67px;
  }

  .catalog__item h3 {
    margin-top: 21px;
    margin-left: 0;
  }

  .catalog__item img {
    width: 206px;
    height: 208px;
  }

  .catalog__item {
    margin-bottom: 6px;

    &:nth-child(n+3) h3 {
      margin-left: 0;
    }
  }

  .catalog__nav {
    margin-bottom: 76px;
  }
}

@media (max-width: $mobile-width-only) {
  .catalog {
    max-width: 290px;
    margin: 0 auto;
  }

  .catalog__list {
    margin-top: 0;
    margin-bottom: 40px;
    grid-template-columns: 130px 130px;
    row-gap: 27px;
  }

  .catalog__item h3 {
    margin-top: 16px;
    margin-left: 0;
  }

  .catalog__item img {
    width: 130px;
    height: 136px;
  }

  .catalog__link {
    display: none;
  }

  .catalog__item {
    margin-bottom: 0;
  }

  .catalog__pagination {
    margin: 0 auto;
  }

  .catalog__pagination li {
    margin-right: 23px;

    &:last-child {
      margin-right: 0;
    }
  }

  .catalog__nav {
    margin-bottom: 68px;
  }
}
