.footer {
  background-color: $black;
  color: $white;
  padding: 90px 0;
}

.footer .container {
  max-width: 1366px;
  width: 86%;
  display: flex;
}

.footer__list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 6px;
}

.footer__item {
  margin-bottom: 21px;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;

  &:hover,
  &:focus {
    color: $brown;
  }

  &:active {
    color: $grey;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 1160px) {
  .footer .container {
    width: 95%;
  }
}

@media (max-width: $tablet-width) {
  .footer {
    padding-top: 50px;
    padding-bottom: 60px;
  }

  .footer .container {
    width: 88%;
    flex-wrap: wrap;
  }
}

@media (max-width: $mobile-width-only) {
  .footer {
    padding: 50px 0;
  }

  .footer .container {
    width: 90%;
    flex-direction: column;
    align-items: flex-start;
  }
}
