.header {
  padding-top: 30px;
  font-weight: 500;
}

.header__wrapper {
  display: flex;
  width: 86%;
  margin: 0 auto;
  margin-bottom: 12px;
  font-size: 14px;
  line-height: 21px;
  align-items: center;
}

.header--product .header__wrapper {
  margin-bottom: 24px;
}

.header__toggle {
  display: none;
}

.header__logo {
  margin: 0 auto;
}

.header--catalog .header__logo,
.header--product .header__logo {
  cursor: pointer;

  &:hover svg,
  &:focus svg {
    fill: rgba($brown, 0.5);
  }

  &:active svg {
    fill: $grey;
  }
}

.header__logo svg {
  fill: $brown;
}

.header__search svg {
  vertical-align: middle;
  margin-right: 11px;
  margin-left: 2px;
  fill: $darkest;
}

.header__search input {
  margin-bottom: 28px;
  border: 0;
  outline: none;
}

.header--catalog input {
  margin-bottom: 7px;
}

.header--product input {
  margin-bottom: 8px;
}

.header__login {

  margin-left: 86px;
  margin-bottom: 25px;

  &:hover,
  &:focus {
    color: $brown;
  }

  &:active {
    color: $grey;
  }
}

.header__cart {
  margin-bottom: 25px;
  margin-right: 5px;
  margin-left: 36px;

  &:hover,
  &:focus {
    color: $brown;
  }

  &:active {
    color: $grey;
  }
}

.header--catalog .header__cart,
.header--product .header__cart  {
  margin-top: 20px;
}

.header--catalog .header__login,
.header--product .header__login {
  margin-top: 20px;
}

.header__cart svg {
  display: none;
}

@media (max-width: $tablet-width) {
  .header__wrapper {
    flex-wrap: wrap;
    width: 88%;
    padding-bottom: 13px;
  }

  .header--catalog .header__wrapper,
  .header--product .header__wrapper {
    margin-bottom: 11px;
  }

  .header__search input {
    margin-top: 0;
    width: 600px;
    outline: none;
  }

  .header__toggle {
    display: block;
    z-index: 2;
    background-color: transparent;
    border: 0;
    padding: 0;
    width: 25px;
    height: 16px;
    position: relative;
    outline: none;
    margin-bottom: 6px;
  }

  .header--catalog .header__toggle,
  .header--product .header__toggle {
    margin-bottom: 7px;
  }

  .header__toggle span {
    width: 100%;
    display: block;
    height: 2px;
    background-color: $darkest;

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: $darkest;
      top: 1px;
      transition: transform 0.4s ease-in-out;
    }

    &::before {
      transform: translate(0, -1px);
    }

    &::after {
      transform: translate(0, 13px);
    }
  }

  .header__search,
  .header__login {
    display: none;
  }

  .header__cart {
    margin-right: 0;
    margin-left: 5px;
    margin-top: 0;
    margin-bottom: 7px;
  }

  .header--catalog .header__cart,
  .header--product .header__cart {
    margin-top: 0;
    margin-bottom: 7px;
  }

  .header__cart span {
    display: none;
  }

  .header__cart svg {
    display: block;
    stroke: $darkest;
    width: 19px;
    height: 19px;
  }

  .header__nav {
    display: none;
  }

  .header--opened,
  .header--nojs {
    width: 100%;
    background-color: $brown;
    color: $white;
  }

  .header--opened {
    position: absolute;
    z-index: 4;
  }

  .header--opened ~ .page-body__overlay {
    position: fixed;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    background-color: $brown;
  }

  .header--opened .header__cart svg,
  .header--nojs .header__cart svg {
    stroke: $white;
  }

  .header--opened .header__logo svg,
  .header--nojs .header__logo svg {
    fill: $white;
  }

  .header--opened .header__toggle span,
  .header--nojs .header__toggle span {
    background-color: $white;

    &::before,
    &::after {
      background-color: $white;
      transition: transform 0.4s ease-in-out;
    }
  }

  .header--opened .header__search,
  .header--nojs .header__search {
    display: block;
    order: 1;
    flex-grow: 1;
    flex-basis: 100%;
    margin-top: 40px;
    padding: 12px;
    border-radius: 21px;
    background-color: rgba($white, 0.15);
  }

  .header--opened input,
  .header--nojs input {
    background-color: transparent;
    color: $white;

    &::placeholder {
      color: transparent;
    }
  }

  .header--opened .header__search svg,
  .header--nojs .header__search svg {
    fill: $white;
    width: 16px;
    height: 16px;
  }

  .header--opened .header__nav,
  .header--nojs .header__nav {
    display: block;
  }

  .header--nojs .header__toggle {
    display: none;
  }
}

@media (max-width: $mobile-width-only) {
  .header {
    padding-top: 20px;
  }

  .header__wrapper {
    width: 91%;
    padding-bottom: 0;
    margin-bottom: 15px;
  }

  .header--catalog .header__wrapper,
  .header--product .header__wrapper {
    margin-bottom: 15px;
  }

  .header--catalog .header__toggle,
  .header--product .header__toggle {
    margin-bottom: 5px;
  }

  .header__search input {
    margin-top: 0;
    margin-bottom: 0;
    width: 200px;
    outline: none;
  }

  .header--product input {
    margin-bottom: 10px;
  }

  .header__cart {
    margin-bottom: 5px;
  }

  .header--product .header__cart {
    margin-bottom: 6px;
  }

  .header--catalog svg,
  .header--product svg {
    width: 20px;
    height: 20px;
  }

  .header__toggle {
    margin-bottom: 6px;
  }

  .header__logo svg {
    width: 52px;
    height: 52px;
  }
}
