.info {
  margin-right: 73px;

  @media (max-width: 1160px) {
    margin-right: auto;
  }

  @media (max-width: $tablet-width) {
    margin-right: 87px;
  }

  @media (max-width: $mobile-width-only) {
    margin-right: 0;
    margin-bottom: 34px;
  }
}

.info .footer__item {
  margin-bottom: 22px;

  &:last-child {
    margin-bottom: 0;
  }
}
