.info {
  margin-right: 72px;
}

.info .footer__item {
  margin-bottom: 22px;

  &:last-child {
    margin-bottom: 0;
  }
}


@media (max-width: 1160px) {
  .info {
    margin-right: auto;
  }
}

@media (max-width: $tablet-width) {
  .info {
    margin-right: 87px;
  }
}

@media (max-width: $mobile-width-only) {
  .info {
    margin-right: 0;
    margin-bottom: 35px;
  }
}
