.inst {
  padding-bottom: 100px;
}

.inst p {
  font-family: $cormorant;
  font-weight: bold;
  font-size: 34px;
  text-align: center;
  margin: 0;
  margin-bottom: 32px;
  letter-spacing: 0.03em;
}

.inst span {
  font-size: 42px;
}

.inst__link {
  display: block;
  margin-bottom: 65px;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  flex-grow: 1;
  flex-basis: 100%;
  position: relative;

  &:hover,
  &:focus {
    color: $brown;
  }

  &:active {
    color: $grey;
  }

  &::after {
    position: absolute;
    content: "";
    height: 1px;
    width: 74px;
    background-color: $brown;
    bottom: -5px;
    left: 50%;
    transform: translate(-50%);
  }
}

.inst__list {
  list-style: none;
  max-width: 1170px;
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.inst__item img {
  margin-right: 30px;
  margin-bottom: 30px;
}

.inst__item {
  &:nth-child(3n) img {
    margin-right: 16px;
  }

  &:last-child img {
    margin-left: 14px;
    margin-right: 0;
  }

  &:last-child picture {
    &:last-of-type img {
      margin-left: 0;
    }
  }
}

@media (max-width: 1170px) {
  .inst__list {
    max-width: 690px;
    justify-content: center;
  }
}

@media (max-width: $tablet-width) {
  .inst {
    padding-bottom: 80px;
  }

  .inst p {
    margin-bottom: 20px;
  }

  .inst__list {
    max-width: 678px;
    margin: 0 auto;
    flex-wrap: nowrap;
  }

  .inst__item img {
    width: 133px;
    margin-right: 18px;
    margin-bottom: 18px;
  }

  .inst__item picture {
    &:last-of-type img {
      margin-bottom: 0;
    }
  }

  .inst__item {
    &:nth-child(3n) img {
      height: 111px;
      width: 134px;
      margin-right: 6px;
    }

    &:nth-child(3n) picture {
      &:last-of-type img {
        width: 126px;
        margin-right: 12px;
      }
    }

    &:nth-child(2n) img {
      width: 231px;
      height: 240px;
    }

    &:last-child img {
      margin-left: 12px;
      margin-right: 0;
      width: 126px;
      height: 126px;

      &:last-of-type {
        margin-left: 12px;
        margin-right: 0;
      }
    }

    &:last-child picture {
      &:last-of-type img {
        width: 134px;
        height: 96px;
        margin-left: 4px;
      }
    }
  }
}

@media (max-width: $mobile-width-only) {
  .inst {
    padding-bottom: 70px;
  }

  .inst__link {
    display: block;
    margin-bottom: 52px;
  }

  .inst__list {
    max-width: 290px;
    flex-wrap: wrap;
  }

  .inst__item img {
    width: 130px;
    margin-right: 15px;
    margin-bottom: 15px;
  }

  .inst__item picture {
    &:last-of-type img {
      margin-bottom: 0;
    }
  }

  .inst__item {
    &:nth-child(3n) {
      display: flex;
      align-items: baseline;
    }

    &:nth-child(3n) img {
      margin-right: 0;
      width: 145px;
      height: 121px;
      margin-top: 8px;
      object-fit: cover;
      margin-bottom: 0;
    }

    &:nth-child(3n) picture {
      order: 1;

      &:last-of-type {
        order: 0;
      }

      &:last-of-type img {
        width: 130px;
        height: 115px;
        margin-right: 15px;
        margin-top: 0;
      }
    }

    &:nth-child(2n) img {
      width: 145px;
      height: 226px;
      object-fit: cover;
      margin-right: 0;
      margin-bottom: 7px;
    }

    &:last-child picture {
      display: none;
    }
  }
}
