.inst {
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inst p {
  font-family: $cormorant;
  font-weight: bold;
  font-size: 34px;
  text-align: center;
  margin: 0;
  margin-bottom: 32px;
  letter-spacing: 0.03em;
}

.inst span {
  font-size: 42px;
}

.inst__link {
  margin-bottom: 65px;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  position: relative;

  &:hover,
  &:focus {
    color: $brown;
  }

  &:active {
    color: $grey;
  }

  &::after {
    position: absolute;
    content: "";
    height: 1px;
    width: 74px;
    background-color: $brown;
    bottom: -5px;
    left: 50%;
    transform: translate(-50%);
  }
}

.inst__list {
  list-style: none;
  max-width: 1170px;
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.inst__wrapper {
  margin-right: 30px;
  margin-bottom: 30px;
}

.inst__wrapper img {
  margin: 0;
}

.inst__wrapper--fourth,
.inst__wrapper--fifth  {
  margin-right: 16px;
}

.inst__wrapper--sixth {
  margin-left: 14px;
  margin-right: 0;
  width: 218px;
}

.inst__wrapper--seventh {
  margin-left: 0;
  margin-right: 0;
  width: 232px;
}

@media (max-width: 1250px) {
  .inst__list {
    max-width: 690px;
    justify-content: center;
  }
}

@media (max-width: $tablet-width) {
  .inst {
    padding-bottom: 80px;
  }

  .inst p {
    margin-bottom: 20px;
  }

  .inst__list {
    max-width: 678px;
    margin: 0 auto;
    flex-wrap: nowrap;
  }

  .inst__wrapper {
    width: 133px;
    margin-right: 18px;
    margin-bottom: 18px;
  }

  .inst__wrapper {
    &:last-child {
      margin-bottom: 0;
    }
  }

  .inst__wrapper--fourth {
    height: 111px;
    width: 134px;
    margin-right: 6px;
  }

  .inst__wrapper--fifth {
    width: 126px;
    margin-right: 12px;
  }

  .inst__wrapper--third {
    width: 231px;
    height: 240px;
  }

  .inst__wrapper--sixth {
    margin-left: 12px;
    margin-right: 0;
    width: 126px;
    height: 126px;
  }

  .inst__wrapper--seventh {
    width: 134px;
    height: 126px;
    height: 96px;
    margin-right: 0;
    margin-left: 4px;
  }
}

@media (max-width: $mobile-width-only) {
  .inst {
    padding-bottom: 70px;
  }

  .inst__link {
    display: block;
    margin-bottom: 52px;
  }

  .inst__list {
    max-width: 290px;
    flex-wrap: wrap;
  }

  .inst__wrapper {
    width: 130px;
    margin-right: 15px;
    margin-bottom: 15px;
  }

  .inst__wrapper--fourth {
    margin-right: 0;
    width: 145px;
    height: 121px;
    margin-top: 8px;
    object-fit: cover;
    margin-bottom: 0;
    order: 1;
  }

  .inst__wrapper--fourth img {
    object-fit: cover;
  }

  .inst__wrapper--fifth {
    width: 130px;
    height: 115px;
    margin-right: 15px;
    margin-top: 0;
    margin-left: 0;
  }

  .inst__wrapper--third {
    width: 145px;
    height: 226px;
    margin-right: 0;
    margin-bottom: 7px;
  }

  .inst__wrapper--third img {
    object-fit: cover;
    height: 100%;
  }

  .inst__item {
    &:last-child {
      display: none;
    }

    &:nth-child(3n) {
      display: flex;
      align-items: baseline;
    }
  }
}
