.mail {
  width: 504px;
  margin-right: auto;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: 500px;
    height: 1px;
    background-color: $white;
    right: 0;
  }
}

.mail p {
  margin: 0;
  margin-left: 5px;
  color: $grey;
  font-size: 16px;
  line-height: 21px;

  &:first-of-type {
    margin-bottom: 10px;
    font-family: $cormorant;
    font-weight: bold;
    font-size: 34px;
    margin-left: 0;
    line-height: 44px;
    letter-spacing: 0.03em;
    color: $white;
  }
}

.mail form {
  margin-top: 42px;
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.mail input {
  background-color: transparent;
  border: 0;

  &::placeholder {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
  }
}

.mail button {
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  color: $white;
}

.mail svg {
  width: 30px;
  height: 10px;
  stroke: $white;
  margin-left: 10px;
  vertical-align: middle;
}

@media (max-width: $tablet-width) {
  .mail {
    margin-right: 100px;
    width: 560px;
    margin-bottom: 40px;

    &::after {
      width: 100%;
    }
  }

  .mail p {
    margin-left: 0;

    &:first-of-type {
      letter-spacing: 0.02em;
      margin-bottom: 9px;
    }
  }

  .mail form {
    margin-top: 44px;
  }
}

@media (max-width: $mobile-width-only) {
  .mail {
    width: 100%;
    margin-bottom: 40px;
  }

  .mail p {
    max-width: 230px;

    &:first-of-type {
      max-width: 213px;
      margin-bottom: 13px;
    }
  }

  .mail form {
    margin-top: 42px;
    margin-bottom: 12px;
  }

  .mail input {
    padding: 0;
    max-width: 150px;
  }

  .mail button {
    padding: 0;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    color: $white;
  }

  .mail svg {
    width: 29px;
    height: 15px;
    stroke: $white;
    margin-left: 8px;
    vertical-align: middle;
  }
}
