.page-body {
  min-height: 100vh;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  align-content: start;
  font-family: "Poppins", "Arial", sans-serif;
  color: $darkest;
}

.page-body--special {
  overflow: hidden;
}
