.product-page .slider {
  padding-top: 90px;
}

.product-page .slider__link {
  padding-bottom: 4px;
  margin-bottom: 61px;
  max-width: 81px;
}

.product-page .slick-dots {
  filter: drop-shadow(0 4px 4px rgba($black, 0.25));
}

.product-page .slick-prev {
  left: 10px;
  top: -109px;
}

@media (max-width: $tablet-width) {
  .product-page .slider {
    padding: 70px 0;
    padding-bottom: 77px;
  }

  .product-page .slider__link {
    margin-bottom: 50px;
  }

  .product-page .slick-prev {
    left: 14px;
    top: -101px;
  }
}

@media (max-width: $mobile-width-only) {
  .product-page .slider {
    padding: 56px 0;
    padding-bottom: 69px;
  }

  .product-page .slider__link {
    max-width: 82px;
    margin-bottom: 40px;
    padding-bottom: 3px;
  }
}
