.slider {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 120px;
  padding-bottom: 126px;
}

.product-page .slider {
  padding-top: 90px;
}

.slider__title p {
  margin: 0;
  margin-bottom: 24px;
  font-family: $cormorant;
  font-weight: bold;
  font-size: 34px;
  line-height: 44px;
  text-align: center;
}

.product-page .slider__title p {
  margin-bottom: 19px;
}

.slider__list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  position: relative;
}

.slider__link {
  display: block;
  margin: 0 auto;
  margin-bottom: 60px;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  max-width: 87px;
  border-bottom: 1px solid $brown;

  &:hover,
  &:focus {
    color: $brown;
  }

  &:active {
    color: $grey;
  }
}

.product-page .slider__link {
  padding-bottom: 4px;
  margin-bottom: 60px;
  max-width: 81px;
}

.slider__item {
  text-align: center;
  margin: 0 15px;
  margin-bottom: 54px;
}

.slider__item a {
  outline: none;
}

.slider__item img {
  width: 270px;
  height: 284px;
  object-fit: cover;
}


.slider__item h3,
.catalog__item h3 {
  margin: 0;
  margin-top: 20px;
  margin-bottom: 7px;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
}

.slider__item p,
.catalog__item p {
  margin: 0;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
}

.slick-track {
  width: auto;
}

.slick-arrow {
  cursor: pointer;
  outline: none;
  background-color: transparent;
  border: 0;
  position: absolute;
  top: -113px;
  padding: 0;

  &:hover svg,
  &:focus svg {
    stroke: rgba($brown, 0.5);
  }

  &:active svg {
    stroke: $grey;
  }
}

.slick-arrow svg {
  stroke: $brown;
  width: 35px;
  height: auto;
}

.slick-next {
  top: -109px;
  right: 11px;
}

.slick-prev {
  left: -4px;
}

.catalog__item .slick-prev {
  top: -109px;
  left: 10px;
}

.slick-dots {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: 15px;
  justify-content: center;
}

.slick-dots button {
  border: 0;
  background-color: transparent;
  padding: 0;
  margin-right: 13px;
  outline: none;
  color: $grey;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $brown;
  }

  &:active {
    color: $grey;
  }
}

.product-page .slick-dots button {
  filter: drop-shadow(0 4px 4px rgba($black, 0.25));
}

.slick-active button {
  color: $darkest;
}

@media (max-width: 1250px) {
  .slider {
    max-width: 1000px;
  }
}

@media (max-width: $tablet-width) {
  .slider {
    max-width: 768px;
    padding: 70px 0;
    padding-bottom: 65px;
  }

  .product-page .slider {
    padding: 70px 0;
    padding-bottom: 75px;
  }

  .slider__title p {
    margin-bottom: 20px;
  }

  .slider__link {
    margin-bottom: 50px;
    max-width: 82px;
    padding-bottom: 3px;
  }

  .product-page .slider__link {
    margin-bottom: 50px;
  }

  .slider__list {
    margin: 0 auto;
    max-width: 708px;
  }

  .slider__item {
    max-width: 324px;
    margin-bottom: 45px;
  }

  .slider__item img {
    width: 324px;
    height: 340px;
    object-fit: cover;
  }

  .slick-arrow {
    top: -100px;
  }

  .slick-arrow svg {
    width: 36px;
    height: 25px;
  }

  .slick-next {
    top: -100px;
    right: 13px;
  }

  .slick-prev {
    left: 15px;
  }
}

@media (max-width: $mobile-width-only) {
  .slider {
    padding: 60px 0;
    padding-bottom: 58px;
  }

  .product-page .slider {
    padding: 56px 0;
    padding-bottom: 69px;
  }


  .slider__list {
    max-width: 320px;
  }

  .slider__item {
    width: 130px;
    margin-bottom: 0;
  }

  .slider__item img {
    width: 130px;
    height: 136px;
  }

  .slider__link {
    max-width: 82px;
    margin-bottom: 40px;
    padding-bottom: 3px;
  }

  .product-page .slider__link {
    max-width: 82px;
    margin-bottom: 40px;
    padding-bottom: 3px;
  }

  .slider__item h3 {
    margin-top: 18px;
    margin-bottom: 5px;
  }

  .slick-arrow {
    display: none;
  }

  .slick-dots {
    position: relative;
    justify-content: flex-start;

    &::before {
      content: "of";
      position: absolute;
      left: 136px;
      top: 0;
    }

    &::after {
      content: "6";
      position: absolute;
      top: 0;
      left: 160px;
    }
  }

  .slick-dots li {
    display: none;
    margin-left: 120px;
  }

  .slick-dots,
  .slider--card .slick-dots {
    margin-top: 32px;
  }

  .slick-dots .slick-active {
    display: block;
  }
}
