.social {
  margin-left: auto;
}

.social__link svg {
  margin-right: 13px;
}

@media (max-width: $tablet-width) {
  .social {
    margin-left: 72px;
  }
}

@media (max-width: $mobile-width-only) {
  .social {
    margin-left: 0;
    margin-right: 10px;
    margin-top: 40px;
  }

  .social span {
    display: none;
  }

  .social .footer__list {
    display: flex;
  }

  .social__link svg {
    width: 20px;
    height: 21px;
    margin-right: 30px;
  }

  .social .footer__item {
    &:first-child svg {
       width: 12px;
    }
  }
}
