.top-wrapper {
  background: $brown url("../img/bg-main@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media (min-resolution: 2dppx) {
    background: $brown url("../img/bg-main@2x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

.top-wrapper__overlay {
  width: 100%;
  padding-top: 182px;
  padding-bottom: 183px;
  background-color: rgba($overlay, 0.7);
}

.top-wrapper p {
  margin: 0;
  margin-top: 2px;
  font-family: $cormorant;
  font-weight: bold;
  font-size: 45px;
  line-height: 51px;
  text-align: center;
  letter-spacing: 0.03em;
  color: $white;
  text-transform: uppercase;

  &:last-child {
    text-transform: lowercase;
    font-weight: normal;
    font-style: italic;
    font-size: 38px;
    line-height: 43px;
    letter-spacing: 0;
  }
}

.top-wrapper--catalog p {
  margin: 0;
  margin-left: 2px;
  font-size: 32px;
  line-height: 44px;

  &:last-child {
    text-transform: none;
    font-size: 22px;
    line-height: 29px;
  }
}

@media (max-width: $tablet-width) {
  .top-wrapper p {
    margin-right: 15px;
  }

  .top-wrapper--catalog p {
    font-size: 34px;
    line-height: 44px;
    margin-bottom: 2px;
    margin-right: 0;
    letter-spacing: normal;

    &:last-child {
      font-size: 22px;
      line-height: 29px;
    }
  }
}

@media (max-width: $mobile-width-only) {
  .top-wrapper__overlay {
    padding-top: 190px;
    padding-bottom: 188px;
  }

  .top-wrapper p {
    font-size: 38px;
    line-height: 43px;
    margin-right: 0;

    &:last-child {
      margin-top: 0;
      font-size: 34px;
      line-height: 41px;
      letter-spacing: 0;
    }
  }

  .top-wrapper--catalog p {
    font-size: 34px;
    line-height: 41px;
    margin-bottom: 5px;

    &:last-child {
      max-width: 250px;
      font-size: 22px;
      line-height: 26px;
      margin: 0 auto;
    }
  }
}
