img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  color: currentColor;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  box-sizing: border-box;

  &::after,
  &::before {
    box-sizing: border-box;
  }
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
}

@media (max-width: $tablet-width) {
  .container {
    width: 720px;
  }
}

@media (max-width: $mobile-width-only) {
  .container {
    width: 300px;
  }
}

@font-face {
  font-family: "Cormorant Garamond";
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/cormorantgaramond-bold.woff2") format("woff2"),
    url("../fonts/cormorantgaramond-bold.woff") format("woff");
}
@font-face {
  font-family: "Cormorant Garamond";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/cormorantgaramond-semibold.woff2") format("woff2"),
    url("../fonts/cormorantgaramond-semibold.woff") format("woff");
}
@font-face {
  font-family: "Cormorant Garamond";
  font-weight: normal;
  font-style: italic;
  font-display: swap;
  src: url("../fonts/cormorantgaramond-italic.woff2") format("woff2"),
    url("../fonts/cormorantgaramond-italic.woff") format("woff");
}

@font-face {
  font-family: "Poppins";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/poppins-regular.woff2") format("woff2"),
    url("../fonts/poppins-regular.woff") format("woff");
}
@font-face {
  font-family: "Poppins";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/poppins-medium.woff2") format("woff2"),
    url("../fonts/poppins-medium.woff") format("woff");
}

@font-face {
  font-family: "Poppins";
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/poppins-bold.woff2") format("woff2"),
    url("../fonts/poppins-bold.woff") format("woff");
}
