// Colors

$black: #000000;
$darkest: #1d1613;
$brown: #a87b62;
$grey: #9b9997;
$overlay: #564034;
$lightgrey: #c4c4c4;
$light: #f0eae4;
$lightest: #f6f5f4;
$white: #ffffff;

// Fonts

$cormorant: "Cormorant Garamond", "Arial", serif;
$poppins: "Poppins", "Arial", sans-serif;

//Resolutions

$desktop-width: 1024px;
$tablet-width: 1023px;
$mobile-width-only: 767px;
